@ViewBag myCV.cshtml
@{
    ViewBag.Title = "Edu";
}

<h2><b>Education Background</b></h2>

<style>
    table,tr, th, td {
        border: 1px solid black;
    }

        table.center {
            margin-left: auto;
            margin-right: auto;
        }
</style>

<table>
    <tr>
        <th> Exam</th>
        <th> Institution</th>
        <th> Passing Year</th>
        <th> GPA/CGPA</th>
    </tr>
    <tr>
        <td> SSC</td>
        <td> Noakhali Zilla School</td>
        <td> 2016</td>
        <td> 4.56</td>
    </tr>
    <tr>
        <td> HSC</td>
        <td> Motijheel Govt. Boys College</td>
        <td> 2018</td>
        <td> 4.00</td>
    </tr>

    <tr>
        <td> BSC</td>
        <td> AIUB</td>
        <td> 2022</td>
        <td> 3.40</td>
    </tr>


</table>
