
@{
    ViewBag.Title = "CV";
}

<h2 style="color:blue;">My CV</h2>

<p><b>Name :</b> Abdur Rahman Babu </p> 
<p><b>Father's Name : </b> Late. Abul Khair</p>  
<p><b>Mother's Name : </b> Momotaj Begum </p>
<p><b>Email :</b>abdur.info24@gmail.com</p>
<p><b>Mobile no :</b>01799020913</p>
<p><b>Present Address : </b>Nikunjo-02,Khilkhet,Dhaka,1229 </p>
<p><b>Permanent Address : </b>Noakhali,Begumganj,Post Office: Hasanerhat</p>
<a href="/Profile/Edu"><b>Education Background</b></a><br>
<a href="/Profile/Skill"><b>Skills</b></a><br>
<a href="/Profile/Project"><b>Projects</b></a>



