
@{
    ViewBag.Title = "Skill";
}

<h2><b>Personal Skills</b></h2>

    <ul>
        <li><b>Programming Languages : C++,Java,C#</b></li>
        <li><b>Frontend : HTML5, CSS,JavaScript</b></li>
        <li><b>Backend : ASP.NET(MVC)</b></li>
    </ul>
 
    <h2>Language</h2>
    <ul><li><b>Bangla</b></li></ul>
    <ul><li><b>English</b></li></ul>

    <h2>Hobbies</h2>
    <ul><li><b> Playing Cricket </b></li>
    <li><b> Travelling </b></li>
    </ul>